body{
    background-color:#212121;
}

#container{
    
    width: 500px;
    height: 300px;
    
    position: absolute;
    left: 35%;
    top: 30%;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#controls button{
    width: 100px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: darkred;
    color: #ebebeb;
    margin-top: 60px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    transition:  0.3s ease;
}
#container h1{
    margin-top: 30px;
    font-size: 40px;
    color: #ebebeb;
}

#display  {
    font-size: 40px;
    color: #ebebeb;

}
#controls button:hover {
    cursor: pointer;
    background: #c41a22;
    box-shadow: 0 0 5px #f42c37,
                0 0 20px #f42c37,
                0 0 60px #f42c37,
                0 0 150px #f42c37;
}
